@import "../../assets/scss/main.scss";
.doctorProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.5rem auto 5rem auto;
  @include medium-devices {
    display: grid;
    grid-template-columns: 30rem auto;
    column-gap: 2rem;
    justify-content: flex-start;
    margin: 0;
    padding: 0 2rem;
  }
  .memberPhoto {
    @include medium-devices {
      margin: 2em 0;
      align-self: flex-start;
      width: 100%;
    }
    img {
      margin-right: 0.3rem;
      width: 100%;
      @include medium-devices {
      }
    }
  }
  .memberText {
    @include medium-devices {
      margin: 2em 1.5rem;
      justify-self: flex-start;
    }
    flex-direction: row;
    ul {
      font-size: 1.3rem;
      margin-top: 0.3rem;
      li {
        margin-top: 0.2rem;
      }
    }
  }
}
