@import "../../assets/scss/main.scss";

.contentBox {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0.4rem 0.5rem 1rem -0.3rem #000000;
  margin-bottom: 2.5rem;
  @include medium-devices {
    padding: 0;
  }
  .bgImage {
    background-size: cover;
    height: 24rem;
    width: 100%;
  }
  .box {
    padding: 2rem;
    p {
      font-size: 1.3rem;
      line-height: 2rem;
      margin-bottom: 1rem;
    }
    ul li {
      margin-bottom: 1rem;
      font-size: 1.3rem;
    }
    .boxButton {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 2rem auto;
      width: 60%;
      button {
        background-color: var(--primary);
        color: #ffffff;
        font-size: 1.4rem;
        padding: 1rem 1.4rem;
      }
    }
  }
  .heading {
    background-color: var(--primary);
    margin-top: auto;
    padding: 0.6rem 0;
    color: #ffffff;
    text-align: center;
    h2 {
      font-size: 1.4rem;
    }
  }
}
