@import "../../assets/scss/main.scss";

.backgroundImage {
  width: 100%;
  max-width: 1064px;
  background-position: center center;
  margin: 5rem auto 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}
