@import "../../assets/scss/main.scss";
.heroWrapper {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .hero {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: calc(80vh - 76px);
    justify-content: center;
    padding: 0 2rem;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    text-align: left;
    @include medium-devices {
      max-width: 860px;
    }
    @include large-devices {
      max-width: 1024px;
      height: calc(90vh - 76px);
    }
  }
  h1 {
    color: #000000;
    font-size: 8rem;
    font-weight: bold;
    line-height: 9rem;
  }
  p {
    color: var(--lightgray);
    font-size: inherit;
    width: 100%;
    max-width: 512px;
    @include medium-devices {
      font-size: 2.3rem;
      line-height: 2.6rem;
    }
  }
  button {
    background-color: var(--primary);
    color: #ffffff;
    font-size: inherit;
    padding: 1rem;
    @include medium-devices {
      font-size: 2.3rem;
    }
  }
}
