@import "../../assets/scss/main.scss";
.containerWrapper {
  margin: 0 auto;
  .container {
    padding: 0 2rem;
    @include medium-devices {
      margin: 0 auto;
      width: 100%;
      max-width: 1024px;
    }
  }
}
