@import "../../assets/scss/main.scss";
.MenuLinks {
  .link {
    position: relative;
    text-align: center;
    cursor: pointer;
    color: var(--lightgray);
    line-height: inherit;
    @include medium-devices {
      line-height: 8rem;
    }
    .dropDownUl {
      background-color: #ffffff;
      padding: 1rem 0;
      @include large-devices {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        display: none;
        min-width: 132px;
        box-shadow: 0 2rem 3rem 0 #808080;
        position: absolute;
        width: max-content;
      }
      .subLink {
        font-size: 1.6rem;
        line-height: 6rem;
        background-color: rgba(0, 0, 0, 0.04);
        border-bottom: 0.25rem solid rgba(0, 0, 0, 0.04);
        @include large-devices {
          border-bottom: none;
          background-color: #ffffff;
          line-height: 5rem;
        }
        a {
          &:hover {
            color: var(--lightblue);
          }
        }
      }
    }
    &:hover {
      @include large-devices {
        .dropDownUl {
          display: flex;
        }
      }
    }
  }
}
