@import "../../assets/scss/main.scss";
.footer {
  background-color: var(--darkgray);
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .flex {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .address {
      p {
        color: "#000000";
        font-size: "1.6rem";
        text-align: center;
        font-weight: bold;
      }
    }
    .small {
      p {
        text-align: center;
        font-size: 1rem;
        color: #000000;
        line-height: 1.5rem;
        @include medium-devices {
          padding: 0;
        }
      }
    }
  }
}
