/* This sets the entire app's body to have 0 margin */
@import "../../assets/scss/main.scss";

.map {
  position: relative;
}

.map-base {
  background: var(--lightblue); // TODO #11 - Turn into Theme option
  height: 50vh;
  margin: 5em auto 0;
  width: 100%;
  position: relative;
  box-shadow: 0 28px 40px 0 #808080;
  @include large-devices {
    margin: 0 auto;
    height: 60vh;
    top: -5vh;
    width: 66vw;
    margin: 10vh auto 0 auto;
  }
}

.map-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #808080;
  width: 100%;
  height: 4em;
  line-height: 4em;
  text-align: center;
  margin: auto;
}
