@import "../../assets/scss/main.scss";
.about {
  margin: 5em auto;
  @include medium-devices {
  }
  h1 {
    margin-bottom: 0.5em;
  }
  h2 {
    margin-bottom: 0.5em;
  }
  p {
    margin-bottom: 0.6em;
    line-height: 1.5em;
  }
}
